.player-row {

	.player-row__token-wrapper {
		width: calc(100% - 4rem);
		margin: 0;
		padding: 0;
	}

	.player-row__total {
		width: 4rem;
		padding-top: 0.5rem;
		text-align: center;
	}

	.player-row__token-label {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-align: center;

		@include treasure-cols(false);
	}
}
