.player-group {
	align-items: center;
	margin: 0 -1px;
	border: 1px solid;

	.player-group__count-col {
		width: 4rem;

		select {
			width: 100%;
		}
	}

	.player-group__player-col {
		width: calc(100% - 8rem);
	}

	.player-group__group-total-col {
		width: 4rem;
		text-align: center;
	}
}

.player-group-spacer {
	height: 1rem;
	margin-left: 4rem;
	margin-right: 8rem;
}
