.treasure-calculator {

	.treasure-calculator__title-row {
		align-items: flex-end;
		margin: 0;
		text-align: center;
	}

	.treasure-calculator__count-title {
		width: 4rem;
		font-weight: 700;
	}

	.treasure-calculator__token-titles {
		width: calc(100% + ($grid-gutter-width - 12rem));
	}

	.treasure-calculator__title-box {
		display: flex;
		flex-direction: column;
		border-width: 1px 1px 1px 0;
		border-style: solid;
		padding-top: 0.5rem;

		&:first-child {
			border-left-width: 1px;
		}

		&--misc {
			width: 30%;
		}

		&--avarice {
			width: 48%;
		}

		&--nuggets {
			width: 22%;
		}
	}

	.treasure-calculator__title-group-row {
		flex-grow: 1;
	}

	.treasure-calculator__title-box-label {
		margin-bottom: 0.5rem;
		font-weight: 700;
	}

	.treasure-calculator__title,
	.treasure-calculator__fill-button-col {
		padding-bottom: 0.5rem;

		@include treasure-cols(true);

		button {
			margin-bottom: 0;
		}
	}
}
