@use "sass:map";

@mixin dark-mode() {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin treasure-groups() {
	display: flex;
	border-width: 0px 1px 0px 0;

	&:first-child {
		border-left-width: 1px;
	}

	@each $groupName, $groupData in $tokenGroups {
		&--#{$groupName} {
			width: map.get($groupData, "width");
		}
	}
}

@mixin treasure-cols() {
	$accented: true;

	@each $groupName, $groupData in $tokenGroups {
		@each $tokenName, $tokenWidth in map.get($groupData, "tokens") {
			&--#{$tokenName} {
				width: $tokenWidth;
				@if $accented {
					background: var(--accent-color);
				}
				$accented: not $accented;
			}
		}
	}
}
