@use "sass:map";

@mixin dark-mode() {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin treasure-cols($separated) {
	$accented: true;

	@each $groupName, $groupData in $tokenGroups {
		$groupWidth: if($separated, 100%, map.get($groupData, "width"));

		@each $tokenName, $tokenWidth in map.get($groupData, "tokens") {

			&--#{$tokenName} {
				width: calc($groupWidth * $tokenWidth / 100%);
				@if $accented {
					background: var(--accent-color);
				}
				$accented: not $accented;
			}
		}
	}
}
